<div class="col-md-8 px-5 px-sm-0 mx-auto">
  
  <h1>顧客のマイページ</h1>
  
  <h2>登録情報</h2>
   <%= link_to "編集する", edit_path(current_customer.id), class: 'btn btn-success' %>
   
   <table border="1">
        <tbody>
          <tr>
            <td bgcolor="#D3D3D3">氏名</td>
            <td>AAAAA</td>
          </tr>
          <tr>
            <td bgcolor="#D3D3D3">カナ</td>
            <td>AAAAA</td>
          </tr>
          <tr>
            <td bgcolor="#D3D3D3">郵便番号</td>
            <td>AAAAA</td>
          </tr>
          <tr>
            <td bgcolor="#D3D3D3">住所</td>
            <td>AAAAA</td>
          </tr>
          <tr>
            <td bgcolor="#D3D3D3">電話番号</td>
            <td>AAAAA</td>
          </tr>
          <tr>
            <td bgcolor="#D3D3D3">メールアドレス</td>
            <td>AAAAA</td>
          </tr>
        </tbody>
      </table>
   
   <h2>配送先</h2>
     <%= link_to "一覧を見る", edit_path(current_customer.id), class: 'btn btn-primary' %>
   <h2>注文履歴</h2>
     <%= link_to "一覧を見る", edit_path(current_customer.id), class: 'btn btn-primary' %>
     
     
     <%= button_to 'ログアウト', destroy_customer_session_path, method: :delete %>



