<main>
  publictopページ

  <div class="container">
    <div class="row">
       <div class="col-2 border">
         ジャンル検索<br>
         ジャンル①<br>
         ジャンル②<br>
         ジャンル③<br>
         ジャンル④
       </div>

       <div class="top_image col-8">
         ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員ではない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。
       </div>

       <div class="col-2">
       </div>
    </div>

    <div class="row">
       <div class="col-2">
       </div>

       <div class="col-10">
         <h3><strong>新着商品</strong></h3>
       </div>
    </div>
  </div>

</main>


