<div class="col-md-8 px-5 px-sm-0 mx-auto">
  <h1>会員一覧</h1>
  
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">会員ID</th>
      <th scope="col">氏名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>山田花子</td>
      <td>geek@gmail.com</td>
      <td class="text-success">有効</td>
    </tr>
  </tbody>
</table>
  
  
  
  </div>